<% if @transact.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@transact.errors.count, "error") %>
      prohibited this post from being saved:
    </h2>
 
    <ul>
    <% @transact.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @bond %>
  <h3>New <%= @bond.print_description %> Trade</h3>
<% end %>

<%= form_for(@transact) do |f| %>

  <div class="form-group">
    <%= f.label "Buy" %>
    <%= f.radio_button :we_buy, true %>
    <%= f.label "Sell" %>
    <%= f.radio_button :we_buy, false %>
  </div>

  <div class="form-group">
    <%= f.label :size %><br>
    <%= f.number_field :size, class: "form-control" %>
  </div>
  <% if @bond %>
  <%= f.hidden_field :bond_id, value: @bond.id %>
  <% else %>
     <div class="form-group">
      <%= f.label :bond_id %><br>
      <%= f.collection_select :bond_id, Bond.order(:ticker), :id, :print_description, {}, {class: "form-control"} %>
    </div>
  <% end %>
   <div class="form-group">
    <%= f.label :price %><br>
    <%= f.number_field :price, class: "form-control", step: 0.001 %>
  </div>
   
   <div class="form-group">
    <%= f.label :trader_id %><br>
    <%= f.collection_select :trader_id, Trader.order(:name), :id, :name, {include_blank: true, class: "form-control", selected: select_trader} %>
   </div>

   <div class="form-group">
    <%= f.label :client_id %><br>
    <%= f.collection_select :client_id, Client.order(:name), :id, :name, {include_blank: true, class: "form-control"} %>
   </div>

   <div class="form-group">
    <%= f.label :salesperson_ids %><br>
    <%= f.collection_select :salesperson_ids, Salesperson.order(:name), :id, :name, {include_blank: true, class: "form-control"}, {multiple: true} %>
  </div>
   <div class="form-group">
    <%= f.label :trade_time %><br>
    <%= datetime_local_field :transact, :trade_time, value: Time.now.strftime("%Y-%m-%dT%H:%M") %>
  </div>
  <br>
  <% if user_is_trader %>
    <%= f.hidden_field :pending, value: false %>
  <% else %>
    <%= f.hidden_field :pending, value: true %>  
  <% end %>
  <div class="actions">
    <%= f.submit value: "Book Trade", class: "btn btn-primary" %>
  </div>
<% end %>