<%= form_for(@transact) do |f| %>

  <div class="form-group">
    <%= f.label "Buy" %>
    <%= f.radio_button :we_buy, true %>
    <%= f.label "Sell" %>
    <%= f.radio_button :we_buy, false %>
  </div>

  <div class="form-group">
    <%= f.label :size %><br>
    <%= f.number_field :size, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :bond_id %><br>
    <%= f.collection_select :bond_id, Bond.order(:ticker), :id, :print_description, {}, {class: "form-control"} %>
  </div>

   <div class="form-group">
    <%= f.label :price %><br>
    <%= f.number_field :price, class: "form-control", step: 0.001 %>
  </div>
   
   <div class="form-group">
    <%= f.label :trader_id %><br>
    <%= f.collection_select :trader_id, Trader.order(:name), :id, :name, {include_blank: true, class: "form-control"} %>
   </div>

   <div class="form-group">
    <%= f.label :client_id %><br>
    <%= f.collection_select :client_id, Client.order(:name), :id, :name, {include_blank: true, class: "form-control"} %>
   </div>

   <div class="form-group">
    <%= f.label :salesperson_id %><br>
    <%= f.collection_select :salesperson_ids, Salesperson.order(:name), :id, :name, {include_blank: true, class: "form-control"}, {multiple: true} %>
  </div>
   <div class="form-group">
    <%= f.label :trade_time %><br>
    <%= datetime_local_field :transact, :trade_time, value: Time.now.strftime("%Y-%m-%dT%H:%M") %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit value: "Book Trade", class: "btn btn-primary" %>
  </div>
<% end %>