<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr> 
      <td><strong>B/S</strong></td>
      <td><strong>Bond</strong></td>
      <td><strong>Size</strong></td>
      <td><strong>Trade Date</strong></td>
      <td><strong>Client</strong></td>
      <% if user_is_trader %>
      <td><strong>Confirm Trade</strong></td>
      <td><strong>Edit Trade</strong></td>
      <% end %>
    </tr>
    <% @transacts.each do |transact| %>
      <tr>
        <td><%= link_to transact.trade_type, transact_path(transact) %></td>
        <td><%= transact.bond.print_description %></td>
        <td><%= transact.size.to_s %></td>
        <td><%= transact.trade_time.strftime('%m-%d-%y') %></td>
        <td><%= transact.client.name %></td>
        <% if user_is_trader %>
        <td><%= link_to "Confirm",confirm_transact_path(transact), method: :patch %></td>
        <td><%= link_to "Edit", edit_transact_path(transact) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>