<button class="js-next-transact" data-id="<%= @next_id %>">Next Trade</button>
<div class="col-sm-8">
<table class="table">
  <thead>
    <tr>
    	<% if @transact.pending %>
    		<th colspan="2">Pending Trade</th>
    	<% else %>
    		<th colspan="2">Completed Trade</th>
    	<% end %>
    </tr>
  </thead>
  <tbody>
  	<tr>
  		<td>Bond</td>
  		<td id="description"><%= @transact.bond.print_description %></td>
  	</tr>
  	<tr>
  		<td>Type</td>
  		<td id="type">
  			<% if @transact.we_buy == true %>
				Buy
			<% else %>
				Sell
			<% end %>
		</td>
  	</tr>
  	<tr>
  		<td>Size (m)</td>
  		<td id="size"><%= @transact.size %></td>
  	</tr>

  	<tr>
  		<td>Price</td>
  		<td id="price"><%= number_to_currency(@transact.price) %></td>
  	</tr>
  	<tr>
  		<td>Trader</td>
  		<td id="trader"><%= @transact.trader.name %></td>
  	</tr>
  	<tr>
  		<td>Client</td>
  		<td id="client"><%= @transact.client.name %></td>
  	</tr>
  	<% if @transact.salespeople.any? %>
  		<tr>
  			<td>Salespeople</td>
  			<td>
  				<%= @transact.salespeople.map{|sp| sp.name}.join(", ") %>
			</td>
	  	</tr>
  	<% end %>
  	<tr>
  		<td>Trade Time</td>
  		<td id="trade_time"><%= @transact.trade_time.strftime('%m-%d-%Y %H:%M:%S') %></td>
  	</tr>
  	<tr>
  		<td>Created at</td>
  		<td id="created_at"><%= @transact.created_at.strftime('%m-%d-%Y %H:%M:%S') %></td>
  	</tr>
  	<tr>
  		<td>Last Updated</td>
  		<td id="updated_at"><%= @transact.updated_at.strftime('%m-%d-%Y %H:%M:%S') %></td>
  	</tr>
  </tbody>
</table>




<% if user_is_trader %>
	<%= link_to "Edit Trade Details", edit_transact_path(@transact), id: "edit"%>
	<% if @transact.pending == true %>
		<%= link_to "Confirm Trade", confirm_transact_path(@transact), method: :patch, id: "confirm" %>
	<% end %>
	<%= link_to "Cancel Trade", transact_path(@transact), method: :delete, id: "cancel" %>
<% end %>
</div>

<script type="text/javascript">
  $(".js-next-transact").on("click", function() {
     var nextId = parseInt($(".js-next-transact").attr("data-id"));
     $.get("/transacts/" + nextId + ".json", function(data) {
        $("#description").text(data["bond"]["description"])
        $("#price").text(data["price"])
        $("#type").text(data["trade_type"])
        $("#size").text(data["size"])
        $("#trader").text(data["trader"])
        $("#client").text(data["client"])
        $("#trade_time").text(data["f_trade_time"])
        $("#updated_at").text(data["f_updated_at"])
        $("#created_at").text(data["f_created_at"])

        $("#edit").attr("href", `/transacts/${data["id"]}/edit`)
        $("#cancel").attr("href", `/transacts/${data["id"]}/cancel`)
        $("#confirm").attr("href", `/transacts/${data["id"]}/confirm`)

        $(".js-next-transact").attr("data-id", data["next_id"])
      })
    })
</script>
