<button class="js-next-transact" data-id="<%= @next_id %>">Next Trade</button>
<div class="col-sm-8">
<table class="table">
  <thead>
    <tr>
    	<% if @transact.pending %>
    		<th colspan="2">Pending Trade</th>
    	<% else %>
    		<th colspan="2">Completed Trade</th>
    	<% end %>
    </tr>
  </thead>
  <tbody>
  	<tr>
  		<td>Bond</td>
  		<td id="description"><%= @transact.bond.print_description %></td>
  	</tr>
  	<tr>
  		<td>Type</td>
  		<td id="type">
  			<% if @transact.we_buy == true %>
				Buy
			<% else %>
				Sell
			<% end %>
		</td>
  	</tr>
  	<tr>
  		<td>Size (m)</td>
  		<td id="size"><%= @transact.size %></td>
  	</tr>

  	<tr>
  		<td>Price</td>
  		<td id="price"><%= number_to_currency(@transact.price) %></td>
  	</tr>
  	<tr>
  		<td>Trader</td>
  		<td id="trader"><%= @transact.trader.name %></td>
  	</tr>
  	<tr>
  		<td>Client</td>
  		<td id="client"><%= @transact.client.name %></td>
  	</tr>
  	<% if @transact.salespeople.any? %>
  		<tr>
  			<td>Salespeople</td>
  			<td id= "salespeople">
  				<%= @transact.salespeople.map{|sp| sp.name}.join(", ") %>
			</td>
	  	</tr>
  	<% end %>
  	<tr>
  		<td>Trade Time</td>
  		<td id="trade_time"><%= @transact.trade_time.strftime('%m-%d-%Y %H:%M:%S') %></td>
  	</tr>
  	<tr>
  		<td>Created at</td>
  		<td id="created_at"><%= @transact.created_at.strftime('%m-%d-%Y %H:%M:%S') %></td>
  	</tr>
  	<tr>
  		<td>Last Updated</td>
  		<td id="updated_at"><%= @transact.updated_at.strftime('%m-%d-%Y %H:%M:%S') %></td>
  	</tr>
  </tbody>
</table>

<button class="js-new-transact" data-id="<%= @transact.id %>">Duplicate Trade</button>


<% if user_is_trader %>
	<%= link_to "Edit Trade Details", edit_transact_path(@transact), id: "edit"%>
	<% if @transact.pending == true %>
		<%= link_to "Confirm Trade", confirm_transact_path(@transact), method: :patch, id: "confirm" %>
	<% end %>
	<%= link_to "Cancel Trade", transact_path(@transact), method: :delete, id: "cancel" %>
<% end %>
</div>

<div class="col-sm-12" id="duplicate"></div>

<script type="text/javascript">
  $(".js-next-transact").on("click", function() {
    $("#duplicate").empty()
     var nextId = parseInt($(".js-next-transact").attr("data-id"));
     $.get("/transacts/" + nextId + ".json", function(data) {
        var sp_names = []
        var salespeople = data.salespeople
        for (i in salespeople) {
          sp_names.push(salespeople[i]["name"])
        }
        $("#description").text(data["bond"]["description"])
        $("#price").text(data["price"])
        $("#type").text(data["trade_type"])
        $("#size").text(data["size"])
        $("#trader").text(data["trader_name"])
        $("#client").text(data["client_name"])
        $("#salespeople").text(sp_names.join(', '))
        $("#trade_time").text(data["f_trade_time"])
        $("#updated_at").text(data["f_updated_at"])
        $("#created_at").text(data["f_created_at"])
        $("#edit").attr("href", `/transacts/${data["id"]}/edit`)
        $("#cancel").attr("href", `/transacts/${data["id"]}/cancel`)
        $("#confirm").attr("href", `/transacts/${data["id"]}/confirm`)

        $(".js-next-transact").attr("data-id", data["next_id"])
        $(".js-new-transact").attr("data-id", data["id"])
      })
    })
</script>


<script id="duplicate-transact-template" type="text/x-handlebars-template">
  <br><br>
  <div class="col-sm-4">
  <form class="new_transact" id="new_transact" action="/transacts" accept-charset="UTF-8" method="post">

    <input name="utf8" type="hidden" value="✓">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <div class="form-group">
      <label for="transact_Buy">Buy</label>
      <input type="radio" value="true" name="transact[we_buy]" id="transact_we_buy_true"  {{checkType trade_type "Buy"}}>
      <label for="transact_Sell">Sell</label>
      <input type="radio" value="false" name="transact[we_buy]" id="transact_we_buy_false" {{checkType trade_type "Sell"}}>
    </div>

    <div class="form-group">
      <label for="transact_Size (M)">Size (m)</label><br> 
      <input class="form-control" type="number" name="transact[size]" id="transact_size" value="{{size}}" style="width:150px; height:30px">
    </div>

    <div>
      <label>Bond</label><br>
      <%= collection_select :transact, :bond_id, Bond.order(:ticker), :id, :print_description, {include_blank: true, class: "form-control", selected: ''}, {style:"width:150px; height:30px"}%>
    </div>
    <br>
    <div class="form-group">
      <label for="transact_price">Price</label><br>
      <input class="form-control" step="0.001" type="number" name="transact[price]" id="transact_price" value="{{price}}" style="width:150px; height:30px">
    </div>

    <div class="form-group">
      <label>Trader</label><br>
      <%= collection_select :transact, :trader_id, Trader.order(:name), :id, :name, {include_blank: true, class: "form-control", selected: ''}, {style:"width:150px; height:30px"} %>
    </div>
    <p>{{trader_id}}</p>
    <div>
      <label>Client</label><br>
      <%= collection_select :transact, :client_id, Client.order(:name), :id, :name, {include_blank: true, class: "form-control", selected: ''}, {style:"width:150px; height:30px"} %>
    </div>

    <div class="form-group">
        <label>Salespeople</label><br>
        <%= collection_select :transact, :salesperson_ids, Salesperson.order(:name), :id, :name, {include_blank: true, class: "form-control", selected: select_salesperson}, {multiple: true, style:"width:150px; height:100px"} %>
    </div>

    <div class="form-group">
        <label for="transact_Time of trade">Time of trade</label><br>
        <input value="{{trade_time}}" type="datetime-local" name="transact[trade_time]" id="transact_trade_time">
    </div>
    
    <input value="false" type="hidden" name="transact[pending]" id="transact_pending">
    <div class="actions">
      <input type="submit" name="commit" value="Book Trade" class="btn btn-primary" data-disable-with="Create Transact">
    </div>
</form>
</div>
</script>

<script type="text/javascript">
  Handlebars.registerHelper('checkType', function(trade_type, button_type) {
    if (trade_type == button_type) {
        return "checked";
      } else {
        return ""
      }
    })
</script>

<script type="text/javascript">

  $(".js-new-transact").on("click", function() {
    var currentId = parseInt($(".js-new-transact").attr("data-id"));
    $.get("/transacts/" + currentId + ".json").done(function(data) {
        var bond_id = data["bond"]["id"]
        var size = data["size"]
        var price = data["price"]
        var trade_type = data["trade_type"]
        var trader_id = data["trader"]["id"] 
        var client_id = data["client"]["id"]

        var salespeople_ids = []
        var salespeople = data.salespeople
        for (i in salespeople) {
          salespeople_ids.push(salespeople[i]["id"])
        }
      
        var now = new Date()
        var trade_time = now.toISOString().substring(0, now.toISOString().length-1)

        var tradeDetails = {size, trade_type, price, trade_time}

        var transactFormTemplate = document.getElementById("duplicate-transact-template").innerHTML
        var template = Handlebars.compile(transactFormTemplate)
        document.getElementById("duplicate").innerHTML = template(tradeDetails)

        $("#transact_bond_id").val(bond_id)
        $("#transact_trader_id").val(trader_id)
        $("#transact_client_id").val(client_id)
        $("#transact_salesperson_ids").val(salespeople_ids)
      })
    })
</script>
