<% if @items %>
<% model_name = @items[0].class.to_s.underscore %>
<% end %>
<div class="col-sm-4">
<h4><%= model_name.capitalize %></h4>
<table class='table table-borderless' cellspacing="5">
	<tbody>
		<% @items.each do |item| %>
			<tr>
				<td data-id="<%= item.id %>" class="js-<%= model_name %>-trades">
					
					<% if item.class.name == "Bond" %>
						<%= link_to item.print_description, send("#{model_name}_path", item) %>
						<!-- <button class="js-bond-trades" data-id="<%= item.id %>">Recent Trades</button> -->
					<% else %>
						<%= link_to item.name, send("#{model_name}_path", item) %>
					<% end %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
</div>