<% if !@transacts.empty? %>
<!-- <div class="row"> -->
<span class="col-sm-4" align="center"><h4>Total Volume (m): $<%= @transacts.total_volume %> </h4></span>
<span class="col-sm-4" align="center"><h4>Total Trades: <%= @transacts.count %></h4></span>
<!-- </div> -->
<br><br><br><br>
<% if !@bond %>
	<div class="col-sm-4" align="center">
		<table class="table">
		  <thead>
		    <tr>
		      <th colspan="2">Most Active Securities</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td><strong>Bond</strong></td>
		      <td><strong>Volume</strong></td>
		    </tr>
		    <% @transacts.most_active_by_volume.each do |bond_id, volume| %>
		      <tr>
		        <td><%= Bond.find(bond_id).print_description %></td>
		        <td>$ <%= volume %></td>       
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	</div>
<% end %>

<% if !@client %>
<div class="col-sm-4" align="center">
	<table class="table">
	  <thead>
	    <tr>
	      <th colspan="2">Top Clients</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td><strong>Client</strong></td>
	      <td><strong>Volume</strong></td>
	    </tr>
	    <% @transacts.top_clients_by_volume.each do |client_id, volume| %>
	      <tr>
	        <td><%= Client.find(client_id).name %></td>
	        <td>$ <%= volume %></td>       
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>
<% end %>

<% if !@salesperson %>
<div class="col-sm-4" align="center">
	<table class="table">
	  <thead>
	    <tr>
	      <th colspan="2">Top Salespeople</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td><strong>Salesperson</strong></td>
	      <td><strong>Volume</strong></td>
	    </tr>
	    <% @transacts.top_salespeople.each do |salesperson_id, volume| %>
	      <tr>
	        <td><%= Salesperson.find(salesperson_id).name %></td>
	        <td>$ <%= volume %></td>       
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>
<% end %>

<% if !@trader %>
<div class="col-sm-4" align="center">
	<table class="table">
	  <thead>
	    <tr>
	      <th colspan="2">Top Traders</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td><strong>Trader</strong></td>
	      <td><strong>Volume</strong></td>
	    </tr>
	    <% @transacts.top_traders.each do |trader_id, volume| %>
	      <tr>
	        <td><%= Trader.find(trader_id).name %></td>
	        <td>$ <%= volume %></td>       
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>
<% end %>

<% else %>
<br>
<h3>Sorry, there are no transactions to display</h3>
<% end %>