<% if @user.uid %>
<p>Please fill out the following information to complete your registration with GitHub</p>
<% end %>
<%= form_for @user do |f| %>
   <div class="form-group">
    <%= f.label :username %>
    <br>
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "Display Name" %>
    <br>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <br>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label "I am a:" %><br>
    <%= f.select :user_type, ["Trader", "Salesperson"], {class: "form-control"} %>
  </div>

  <% if @user.uid %>
    <%= f.hidden_field :uid, value: @user.uid %>
  <% end %>
  <div class="actions">
    <br/>
    <%= f.submit class: "btn btn-primary" %>
  </div>


<% end %>