<span><h1><%= @client.name %></h1></span>
	<span class="col-sm-4"><%= link_to "Book a new trade", new_client_transact_path(@client) %></span><br>
<p><button id="client-recent-js" data-id="<%= @client.id %>">Recent Activity</button></p>
<div id="client-recent-transacts"></div>
	<% if !@transacts.empty? %>
		<span class="col-sm-3"><h4>View trade history:</h4></span>
		<span class="col-sm-3" ><h5><%= link_to "Past Month", client_transacts_path(@client, period: "one_month") %></h5></span>
		<span class="col-sm-3" ><h5><%= link_to "Past Quarter", client_transacts_path(@client, period: "one_quarter") %></h5></span>
		<span class="col-sm-3" ><h5><%= link_to "All time", client_transacts_path(@client) %></h5></span>
	<% end %>
<br>
<%= render 'templates/show' %>

<script id="display-client-trades-template" type="text/x-handlebars-template">
	<table class='table table-borderless' id="js-display-trades-header">
		<caption>Recent Trades</caption>
		<thead>
			<tr>
				<td>Type</td>
				<td>Size</td>
				<td>Bond</td>
				<td>Price</td>
			</tr>
		</thead>
		<tbody>
	    {{#each this}}
	        <tr>            
	            <td>{{trade_type}}</td>
	            <td>{{size}}</td>
	            <td>{{bond.description}}</td>
	            <td>{{price}}</td>
	        </tr>
	    {{/each}}
		</tbody>
	</table>
</script>