<h1><%= @client.name %></h1>

<p><%= link_to "Book a trade", new_client_transact_path(@client) %></p>
<% if !@transacts.empty? %>
<span class="col-sm-4" align="center"><h4><%= link_to "View one month history", client_transacts_path(@client, period: "one_month") %></h4></span>
<span class="col-sm-4" align="center"><h4><%= link_to "View all history", client_transacts_path(@client) %></h4></span>
<% end %>
<%= render 'templates/show' %>
